.project-link {
	color: white;
	position: relative;
	height: 100%;
}
.selected .project-link {
	overflow-y: auto;
}
.project-text {
	position: relative;
	top: 0%;
	left: 0%;
	opacity: 0;
	font-family: Oxygen;
}
.selected .project-text {
	opacity: 1;
}
.selected .background-image {
	filter: blur(50px);
}
a.play-button {
	color: rgb(0, 150, 225);
	padding: 5px;
	border: 3px solid rgb(0, 150, 225);
	background-color: rgba(200, 200, 200, 0.1);

	pointer-events: none;
}
.selected a.play-button {
	pointer-events: all;
}
.light-background a.play-button {
	color: rgb(0, 50, 150);
	border: 3px solid rgb(0, 50, 150);
}

.project:hover .background-image, .selected .background-image {
	transform: scale(1.1);
}
.project {
	overflow: hidden;
}

a.play-button:hover {
	background-color: rgb(0, 150, 225);
	color: white;
}
.light-background a.play-button:hover {
	background-color: rgb(0, 50, 150);
}

.background-image, .project-text {
	transition-duration: 0.3s;
	transition-property: all;
}

.project-description-title {
	font-size: 20px;
	font-weight: bold;
}
.project-text {
	margin-left: 15px;
	margin-right: 10px;
}
.light-background .project-link {
	color: rgb(0, 0, 0);
}
