@media only screen and (orientation: portrait) {
	#portfolio {
		width: 90vw;
		height: 90vw;

		grid-template-rows: repeat(6, calc(30vw - 10px));
		grid-template-columns: repeat(3, calc(30vw - 10px));
	}
}
@media only screen and (orientation: landscape) {
	#portfolio {
		width: 90vh;
		height: 90vh;

		grid-template-rows: repeat(6, calc(30vh - 10px));
		grid-template-columns: repeat(3, calc(30vh - 10px));
	}
}

#platformer-roguelike {
	grid-row: 1 / span 2;
	grid-column: 1 / span 2;
}

#project-euler {
	grid-row: 1 / span 2;
	grid-column: 3 / span 1;
}

#physics-simulation {
	grid-row: 3 / span 1;
	grid-column: 1 / span 1;
}

#math-editor {
	grid-row: 3 / span 1;
	grid-column: 2 / span 2;
}

#random-survival-game {
	grid-row: 4 / span 1;
	grid-column: 1 / span 2;
}

#stick-dungeon {
	grid-row: 4 / span 2;
	grid-column: 3 / span 1;
}

#hypocube-translocation {
	grid-row: 5 / span 2;
	grid-column: 1 / span 2;
}
#raycaster {
	grid-row: 6 / span 1;
	grid-column: 3 / span 1;
}
